@model IEnumerable<TeamMember>

<table id="collectionTable" class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach(TeamMember entity in this.Model)
        {
            <tr>
                <td>@entity.TeamMemberId</td>
                <td>@entity.FirstName</td>
                <td>@entity.LastName</td>
                <td>@entity.Email</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#collectionTable').dataTable();
        });
    </script>
}